<%- include("partials/header.ejs") %>

<h1>Please log in to your account</h1>

<form action="/login" method="post">
    <div class="login-box">
        <!-- Email input -->

        <div class="form-outline mb-4">
            <label class="form-label" for="form2Example1">Email address</label>
            <input type="email" id="form2Example1" class="form-control" name="username" />

        </div>

        <!-- Password input -->
        <div class="form-outline mb-4">
            <label class="form-label" for="form2Example2">Password</label>
            <input type="password" id="form2Example2" class="form-control" name="password" />

        </div>

        <p style="color: red;"> <%= status %></p>


        <!-- Submit button -->
        <button type="submit" class="btn btn-primary btn-block mb-4">Sign in</button>

    </div>
</form>

<%- include("partials/footer.ejs") %>