<%- include("partials/header.ejs") %>

<h1>Your ticket had been submitted successfully!</h1>
<p>
  Ticket number
  <span style="color: blue; font-weight: bold"><%= ticketNumber %></span> has
  been logged and an IT representative should contact you soon.
</p>
<p>If this is an urgent matter, please contact HD support via phone.</p>

<%- include("partials/footer.ejs") %>
