body {
    background-color: #A5C9CA;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: large;
}

.main {
    margin: auto;
    width: 50%;
}

form {
    padding: 5% 15%;
    width:  auto;
}

h1 {
    margin-top: 5%;
    text-align:  center;
}

h5   {
    text-align:  center;
}

p {
    margin-top: 5%;
}

button {
    margin-top: 2%;
}
.login-box {
    width: 50%;
    margin: auto;
}

.logo-img {
    position: absolute;
    top: 10%;
    left: 0;
}

.no-tickets {
    margin-top: 5%;
    text-align:  center;
}


.form-group {
    margin-bottom: 2%;
}

.item {
    min-height: 70px;
    display: flex;
    align-items: center;
    border-bottom: 5px solid #AEBDCA;
}

.box {
    width: auto;
    margin: 50px auto;
    background: white;
    border-radius: 5px;
    box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);
}

.tickets-form {
    color: black;
}

.topnav {
    background-color: #2a4646;
    overflow: hidden;
  }
  
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .topnav a.active {
    background-color: #04AA6D;
    color: white;
  }